<% @hide_navbar ||= false %>

<% unless @hide_navbar %>
	<div data-controller="navbar" class="sticky top-0 left-0 w-screen z-10 sm:px-4">
		<div class="container h-16 flex items-center justify-between">
			<div class="flex-grow-1 flex items-center justify-start h-full w-1/2 text-xs md:text-base">
				<% if user_signed_in? %>
					<%= link_to goals_path, class: 'px-4 md:pl-0 h-full inline-flex items-center justify-center uppercase opacity-100 hover:opacity-50 transition-opacity duration-300' do %>
						<%= render 'icons/flag', klass: "text-black w-4.5 h-4.5 md:hidden" %>
						<span class="hidden md:inline font-medium">Goals</span>
					<% end %>
				<% end %>
			</div>
			<%= link_to 'togetherup', root_path, class:'font-display text-2xl h-8 flex-shrink-0' %>
			<div class="flex-grow-1 flex items-center justify-end h-full w-1/2 text-xs md:text-base">
				<% if user_signed_in? %>
					<%= link_to account_path, class: 'px-4 md:pr-0 h-full inline-flex items-center justify-center uppercase opacity-100 hover:opacity-50 transition-opacity duration-300' do %>
						<%= render 'icons/account', klass: "text-black w-4.5 h-4.5 md:hidden" %>
						<span class="hidden md:inline font-medium">Account</span>
					<% end %>
				<% else %>
					<%= link_to 'Login', new_user_session_path, class: 'px-4 h-full hidden md:inline-flex items-center justify-center uppercase font-medium opacity-100 hover:opacity-50 transition-opacity duration-300' %>
					<%= link_to new_user_registration_path, class: 'px-4 md:pr-0 h-full inline-flex items-center justify-center uppercase opacity-100 hover:opacity-50 transition-opacity duration-300' do %>
						<%= render 'icons/account', klass: "text-black w-4.5 h-4.5 md:hidden" %>
						<span class="hidden md:inline font-medium">Signup</span>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>