<%= simple_form_for goal, defaults: { wrapper_html: { class: "inline" } }, data: {turbo: false} do |f| %>
  <div class="flex items-center w-full mb-4">
    <h4 class="font-bold text-4xl uppercase inline flex-shrink-0">I will</h4>
    <%= f.input :name, placeholder: 'Run 5km', label: false, input_html: {class:"ml-2 flex-grow-1"} %>
  </div>
  <div class="flex items-center w-full flex-wrap mb-4">
    <%= f.input :frequency_count, placeholder: '3', label: false, input_html: {class:'w-12 flex-shrink-0'} %>
    <h4 class="font-bold text-4xl uppercase inline px-2 flex-shrink-0">Time(s) per</h4>
    <%= f.input :frequency_interval, label: false, collection: Goal.frequency_intervals.map{|k, v| [k.humanize.capitalize, v]}, include_blank: false, input_html: { value: f.object.frequency_interval } %>
  </div>
  <div class="flex items-center w-full flex-wrap mb-4">
    <h4 class="font-bold text-4xl uppercase inline pr-2 mb-1">&</h4>
    <h4 class="font-bold text-4xl uppercase inline pr-2 mb-1">achieve</h4>
    <h4 class="font-bold text-4xl uppercase inline pr-2 mb-1">my</h4>
    <h4 class="font-bold text-4xl uppercase inline pr-2 mb-1">goal</h4>
    <h4 class="font-bold text-4xl uppercase inline pr-2 mb-1">of</h4>
    <%= f.input :metric_goal, placeholder: '21', label: false, wrapper_html: { class: 'pr-2' }, input_html: {class:'w-24 flex-shrink-0'} %>
    <%= f.input :metric_name, placeholder: 'km', label: false, input_html: {class:'w-24 flex-shrink-0'} %>
  </div>
  <div class="flex items-center w-full flex-wrap">
    <h4 class="font-bold text-4xl uppercase inline mr-2">By</h4>
    <%= f.input :end_date,
                as: :string,
                label: false,
                input_html: { 
                  value: localize(Date.today.next_month, format: "%Y/%-m/%d"),
                  data: {
                    controller: "flatpickr"
                  }
                } %>
  </div>
  <div class="py-6">
    <%= f.input :public, label: 'Make this goal public', input_html: { value: true, class: "mr-2" }, label_html: { class: "font-medium" }, wrapper_html: {class: "flex items-center"} %>
  </div>
  <%= f.input :style, :as => :hidden, input_html: {value: params[:style]} %>
  <%# f.input :message_to_self, label: 'Message to self' %>
  <%= f.button :submit, class:"w-full border-2 border-black bg-banana font-display text-2xl py-2 px-4" %>
<% end %>