<!DOCTYPE html>
<html>
  <head>
    <title>Togetherup</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- Flatpickr date-picker styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-blizzardblue">
    <%= render 'shared/navbar' %>
    <main class="container mx-auto mt-28 px-4 pb-24">
      <%= yield %>
    </main>
    <%= render 'shared/flashes/flashes' %>
  </body>
</html>
